[Unit]
Description=EOS Energy Optimization Server
After=network.target

[Service]
Type=simple
Environment=EOS_DIR=/root/EOS
ExecStart=/root/EOS/eos.sh
WorkingDirectory=/root/EOS
TimeoutSec=0
Restart=always
RestartSec=15

[Install]
WantedBy=default.target
