[Unit]
Description=MQTT EOS Bridge (virtual battery + solution publisher)
After=network.target eos.service
Requires=eos.service

[Service]
Type=simple
ExecStart=/root/EOS/mqtt_eos_bridge.sh
WorkingDirectory=/root/EOS
TimeoutSec=0
Restart=always
RestartSec=15

[Install]
WantedBy=default.target
